h1 {
  margin-top: 100px;
}

.whitetext > h1 {
  color: white;
}

tt.literal {
  font-family: 'Droid Sans Mono', 'Courier New', monospace;
  color: black;
  background-color: #f0f0f0;
}

article.absposition {
  position: absolute;
}

.centered-things {
  text-align: center;
}

img.pull-left {
  float: left;
}

img.pull-right {
  float: right;
}

